{{define "main"}}
<main id="main" class="py-5" style="display:flex;">
  <div class="contaianer p-md-5" style="margin:auto;">
      <div class="container-md">
    <!-- Ranges through content/posts/*.md -->
            <h1 class="fw-bold text-dark" >{{.Title}}</h1>
    {{ range .Pages }}
        <h3><a class="fw-bold text-dark" href="{{.Permalink}}">{{.Title}}</a></h3>
        <h6>{{ $author := "false" }}
          {{  if not (eq .Params.Author $author) }}
          <p style="margin-right: 20px"><b>By : </b><a class="text-dark"  href="{{ .Params.authorUrl }}">{{ .Params.AuthorName }}</a>
            | {{.Date.Format "2006-01-02"}} | <b>Reading Time:</b> {{.ReadingTime}} min
          </p>
          {{ end }}</h6>
        <p>{{ .Summary }}</p>
    {{ end }}
    </div>
  </div>
</main>
{{end}}
