{{ define "main" }}
<section id="main" class="container-md" style="margin: 10vh auto;">
  <div class="container-sm" style="padding-top: 5vh;">
    <h1 id="title">{{ .Title }}</h1>
     {{ $author := "false" }}
    {{  if not (eq .Params.Author $author) }}
    By <a class="text-dark" href="{{ .Params.AuthorUrl }}">{{ .Params.AuthorName }}</a> |
    {{end}}
    {{range .Params.Tags }}
      <div class="badge bg-primary text-wrap">
        <a style="text-decoration: none;" class="text-white" href='{{ "tags/" | relLangURL }}{{.}}'>{{.}}</a>
      </div>
    {{end}}
    | {{.Date.Format "2006-01-02"}} | <b>Reading Time:</b> {{.ReadingTime}} min
  <hr>
        <article id="content">
           {{ .Content }}
        </article>
  </div>
</section >
{{ end }}
