<section class="contact" id="contact">
    <div class="contact-heading">
        <h2 class="heading"> Contact Us</h2>
    </div>
    <div class="contact-container">
        <form action="" method="post">
            <h4>Feel free to drop us a message anytime.</h4>
            <fieldset>
                <input placeholder="Your name" type="text" tabindex="1" required>
            </fieldset>
            <fieldset>
                <input placeholder="Your Email Address" type="email" tabindex="2" required>
            </fieldset>
            <fieldset>
                <input placeholder="Your Phone Number (optional)" type="tel" tabindex="3">
            </fieldset>
            <fieldset>
                <textarea placeholder="Type your message here...." tabindex="5" required></textarea>
            </fieldset>
            <fieldset>
                <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
            </fieldset>
        </form>
    </div>
</section>
